:root {
    --color-dark: 0, 0, 0;
    --color-primary: #193D7A;
    --color-secondary: #09204C;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html {
margin: 0;
font: bold 14px/1.4 'Open Sans', arial, sans-serif;
height: 100%;
background-attachment: fixed;

}
.teste{
background: linear-gradient(var(--color-primary), var(--color-secondary));
width: 100%;
border-bottom-left-radius: 30px;
border-bottom-right-radius: 30px;
box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 15px;
    border-radius: 5px;
}
.nav-container .link-navbar:nth-last-of-type(1){
    margin-left: auto ;
}
.nav-container .login{
    margin-left: auto;
}
.nav-links{
    flex-grow: 1;
    text-align: center;
    margin: 0 20px;
}
.nav-links .link-navbar {
    display: inline-block;
}
img{
    margin: 5px;
}
.link-navbar-img{
    margin-right: 10px ;
}
.logo{
    margin-left: 5px ;
}
.login,.link-navbar {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.10em;

  display: inline-block;
  padding: 10px 10px;
  position: relative;
}
.login::after,.link-navbar:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.login:hover:after,.link-navbar:hover:after {
  width: 100%;
  left: 0;
}
@media screen and (max-height: 300px) {
	ul {
		margin-top: 40px;
	}
}
