@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
    --color-dark: 0, 0, 0;
    --color-primary: #193d7a;
    --color-secondary: #09204c;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    line-height: 1.6;
    background-color: var(--color-secondary);
    background-image: radial-gradient(
        circle,
        #3a5e95 0%,
        var(--color-secondary) 100%
    );
    background-attachment: fixed;
}
.register-box {
    border: 1px solid transparent;
    border-radius: 25px;
    padding: 40px;
    width: 100%;
    max-width: 620px;
    min-height: auto;
    background-color: #ffff;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.register-box img {
    display: block;
    width: 100px;
    margin: 0 auto 20px auto;
    height: auto;
    border-radius: 8px;
}
.email-box{
    margin-bottom: 10px;
}
.link-logo {
    display: block;
    margin-bottom: 10px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content .title {
    font-size: 32px;
    color: #333;
    margin-bottom: 20px;
}
.side {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 10px;
}
.submit-btn {
    width: 100%;
    padding: 12px;
    background: linear-gradient(90deg, var(--color-primary), #102857);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 17px;
    cursor: pointer;
    margin: 15px 0px 10px 0px;
    transition: transform 0.1s ease, box-shadow 0.1s ease, opacity 0.1s;
}
.submit-btn:hover {
    transform: translateY(-2px);
    opacity: 0.95;
    box-shadow: 0 4px 10px rgba(var(--color-dark), 0.2);
}
.estado-box label,
.cidade-box label,
.cep-box label,
.bairro-box label,
.numero-box label,
.rua-box label,
.idade-box label,
.endereco-box label,
.cpf-box label,
.name-box label,
.telefone-box label,
.email-box label,
.password-box label {
    display: block;
    position: relative;
}
/* Estilos base para todos os inputs */
#cpf,#rua,#numero,
#cidade,#estado,
#cep,#bairro,
#endereco,#idade,
#bairro,#cep,#telefone,
#estado,#endereco,
#idade,#name,
#email,#password {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    border: 0;
    font-family: inherit;
    padding: 16px 12px 0 20px;
    height: 50px;
    font-size: 16px;
    font-weight: 300;
    background: rgba(var(--color-dark), 0.02);
    box-shadow: inset 0 -1px 0 rgba(var(--color-dark), 0.3);
    color: rgb(var(--color-dark));
    transition: all 0.15s ease;
    border-radius: 4px;
}

.label {
    position: absolute;
    top: 20px;
    left: 12px;
    font-size: 16px;
    color: rgba(var(--color-dark), 0.5);
    font-weight: 500;
    transform-origin: 0 0;
    transform: translate3d(0, 0, 0);
    transition: all 0.2s ease;
    pointer-events: none;
}

.focus-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(var(--color-dark), 0.05);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.1s ease;
    border-radius: 4px;
}
#cep:hover,
#rua:hover,
#numero:hover,
#estado:hover,
#bairro:hover,
#cidade:hover,
#name:hover,
#cpf:hover,
#telefone:hover,
#endereco:hover,
#idade:hover,
#email:hover,
#password:hover {
    background: rgba(var(--color-dark), 0.04);
    box-shadow: inset 0 -1px 0 rgba(var(--color-dark), 0.5);
}
#cidade:not(:placeholder-shown) + .label,
#telefone:not(:placeholder-shown) + .label,
#estado:not(:placeholder-shown) + .label,
#cep:not(:placeholder-shown) + .label,
#bairro:not(:placeholder-shown) + .label,
#rua:not(:placeholder-shown) + .label,
#numero:not(:placeholder-shown) + .label,
#name:not(:placeholder-shown) + .label,
#cpf:not(:placeholder-shown) + .label,
#endereco:not(:placeholder-shown) + .label,
#idade:not(:placeholder-shown) + .label,
#email:not(:placeholder-shown) + .label,
#password:not(:placeholder-shown) + .label {
    color: rgba(var(--color-dark), 0.5);
    /* Sobe e diminui a label */
    transform: translate3d(0, -12px, 0) scale(0.75);
}

/* 3. FOCUS STYLES (quando o input está focado) */
#rua:focus,
#numero:focus,
#estado:focus,
#telefone:focus,
#cidade:focus,
#cep:focus,
#bairro:focus,
#cpf:focus,
#endereco:focus,
#idade:focus,
#name:focus,
#email:focus,
#password:focus {
    background: rgba(var(--color-dark), 0.05);
    outline: none;
    /* Barra de foco na cor primária */
    box-shadow: inset 0 -2px 0 var(--color-primary);
}

/* 3a. Focus Label: Move e muda a cor para Primary */
#rua:focus + .label,
#numero:focus + .label,
#telefone:focus + .label,
#estado:focus + .label,
#cidade:focus + .label,
#cep:focus + .label,
#bairro:focus + .label,
#cpf:focus + .label,
#endereco:focus + .label,
#idade:focus + .label,
#name:focus + .label,
#email:focus + .label,
#password:focus + .label {
    color: var(--color-primary);
    /* Sobe e diminui a label */
    transform: translate3d(0, -12px, 0) scale(0.75);
}

/* 3b. Focus Background: A barra que expande */
/* O seletor é: input:focus + .label + .focus-bg */
#rua:focus + .label + .focus-bg,
#numero:focus + .label + .focus-bg,
#estado:focus + .label + .focus-bg,
#cidade:focus + .label + .focus-bg,
#cep:focus + .label + .focus-bg,
#bairro:focus + .label + .focus-bg,
#telefone:focus + .label + .focus-bg,
#cpf:focus + .label + .focus-bg,
#endereco:focus + .label + .focus-bg,
#idade:focus + .label + .focus-bg,
#name:focus + .label + .focus-bg,
#email:focus + .label + .focus-bg,
#password:focus + .label + .focus-bg {
    transform: scaleX(1);
    transition: all 0.1s ease;
}

.side > div {
    flex: 1;
    width: 100%;
}
#idade + .label {
    transform: translate3d(0, -12px, 0) scale(0.75);
    color: rgba(var(--color-dark), 0.5);
}

#idade:focus + .label {
    color: var(--color-primary);
}

#idade {
    display: flex;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 0px;
}

#idade::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0.6;
    transition: 0.2s;
}
#idade::-webkit-calendar-picker-indicator:hover {
    opacity: 1;
}
