/* container */
.container {
  max-width: 1140px;
  color: #FFF;
  text-shadow: 2px 2px 6px rgba(0,0,0,1);
}

/* hero background */
.hero {
    background: linear-gradient(rgba(18,58,140,0.8), rgba(18,58,140,0.8)),
    url('../images/hero-gamer.png') center/cover no-repeat;
    border-radius: 25px;
    overflow: hidden;
    width: 80%; /* ocupa toda a largura */
    max-width: 100%; /* remove limite do Bootstrap */
    margin: 0 auto; /* centraliza */
}

/* Ajuste para os cards da seção Diferenciais */
.diferenciais-card {
    background-color: transparent !important; /* remove fundo branco */
    border: 2px solid #fff !important;                   /* borda branca */
    color: #fff !important;                              /* texto branco para contraste */
    transition: all 0.3s ease;
}

.diferenciais-card:hover {
    transform: translateY(-5px);
    border-color: #00f2fa !important; /* muda cor da borda ao passar o mouse */
}

