/* Banner */
.banner {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
    background-attachment: fixed;
}

.banner-img {
    width: 100%;
    height: 800px;
    object-fit: cover;
    object-position: top;
    margin: 0;
    padding: 0;
}

.banner-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(9, 32, 76, 0.9) 100%);
    pointer-events: none;
}

/* CARROSSEL */
#promoCarousel img {
    border-radius: 25px !important;
    object-fit: cover;
}

#promoCarousel .carousel-caption {
    bottom: 15px;
    left: 15px;
    right: auto;
    max-width: 70%;
}

/* #promoCarousel .carousel-control-prev,
#promoCarousel .carousel-control-next {
    width: 45px;
    height: 45px;
    background: rgba(255,255,255,0.5);
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
} */

#promoCarousel .carousel-caption h5,
#promoCarousel .carousel-caption span,
#promoCarousel .carousel-caption p,
#promoCarousel .carousel-caption a {
  text-shadow: 2px 2px 4px rgba(0,0,0,0.7);
}
