:root {
    --color-dark: 0, 0, 0;
    --color-primary: #193d7a;
    --color-secondary: #09204c;
    color: #FFF;
}

body {
    font-family: "Inter", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, sans-serif;
    background-color: var(--color-secondary);
    background-image: radial-gradient(
        circle,
        #3a5e95 0%,
        var(--color-secondary) 100%
    );
    background-attachment: fixed;
}
